<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}{% endblock %}</title>
    {% load static %}
    <!-- Fuentes -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:400,400i,700,700i" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <!-- Estilos -->
    <link href="{% static 'core/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'core/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'core/css/main.css' %}" rel="stylesheet">
  </head>
    <body>
      <!-- Navegación -->
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
           <img src="{% static 'core/img/itsz.png' %}" class="img-fluid" width="50px" alt="Responsive image"> <a class="navbar-brand" href="{% url 'home' %}">Identificar</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ned" aria-controls="ned" aria-expanded="false">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="ned">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Inicio</a>
              </li>
            </ul>
            <ul class="navbar-nav">
              {% if not request.user.is_authenticated %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'login' %}">Acceder</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'signup' %}">Registro</a>
                </li>
              {% else %}
                <li class="nav-item">
                  <a class="nav-link" href="{% url 'projects:projects' %}">Proyectos</a>
                </li>
                {% if request.user.is_staff %}
                  <li class="nav-item">
                    <a class="nav-link" href="{% url 'pages:pages' %}">Páginas</a>
                  </li>
                {% endif %}  
              <!-- Split dropup button -->
              <div class="btn-group dropright">
                <button type="button" class="btn btn-secondary">
                  {% if request.user.profile.avatar %}
                    <img src="{{request.user.profile.avatar.url}}" class="img-fluid" width="20px" alt="Responsive image">
                  {% else %}
                  <img src="{% static 'registration/img/no-avatar.jpg' %}" class="img-fluid" width="20px" alt="Responsive image">
                  {% endif %}
                </button>
                <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <span class="sr-only">Toggle Dropright</span>
                </button>
                <div class="dropdown-menu bg-dark">
                  <!-- Dropdown menu links -->
                  <a class="nav-link" href="{% url 'profile' %}">Perfil</a>
                  <a class="nav-link" href="{% url 'logout' %}">Salir</a>
                </div>
              </div>
              <!-- Fin del dropup-->
              {% endif %}
            </ul>
          </div>
        </div>
      </nav>
      <!-- Contenido -->
      {% block content %}{% endblock %}
      <!-- Javascript -->
      <script src="{% static 'core/vendor/jquery/jquery.min.js' %}"></script>
      <script src="{% static 'core/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
      <script src="{% static 'core/js/main.js' %}"></script>
    </body>
  <!--Footer-->
  <footer class="footer text-faded text-center py-3 bg-secondary">
    <div class="container">
        <p class="m-0">
        {% if LINK_TWITTER %}
          <a class="link" href="{{LINK_TWITTER}}">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {% endif %}
        {% if LINK_FACEBOOK %}
          <a class="link" href="{{LINK_FACEBOOK}}">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {% endif %}
        {% if LINK_INSTAGRAM %}
          <a class="link" href="{{LINK_INSTAGRAM}}">
            <span class="fa-stack fa-lg">
              <i class="fa fa-circle fa-stack-2x"></i>
              <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
            </span>
          </a>
        {% endif %}
      </p>
      <p class="m-0 mbt">
        {% load pages_extras %}
        {% get_page_list as page_list %}
        {% for page in page_list %}
          <a class="link text-white" href="{% url 'pages:page' page.id page.title|slugify %}">{{page.title}}</a>{% if not forloop.last %} * {% endif %}
        {% endfor %}
      </p>
      <p class="m-0 mbt1">Instituto Tecnologico Superior de Zacapoaxtla</p>
    </div>
  </footer>
</html>